#Root{

    -fx-background-image: url("../images/thumb-1920-676369.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;


}


#welkom {
    -fx-font-size: 24;
    -fx-font-weight: 900;
    -fx-text-fill: #FFFF;
    -fx-text-align:center;
}

#inlog{
    -fx-border-color: #FFFF;
    -fx-border-width: 5;
}