#Root{
    -fx-background-color:  #222A31;

}


#title{
    -fx-font-size: 36;
    -fx-font-weight: 900;
    -fx-text-fill: #ffff;
}

#toppane{
    /*-fx-border-width: 0 0 5 0; !* top right bottom left *!*/
    /*-fx-border-color: #ffff;*/
    -fx-background-color: #3e4759;
}

#name{
    -fx-background-color: #323846;
    -fx-text-fill: #ffff;
    -fx-font-weight: 900;
    -fx-font-size: 20;

}

#leftpane{
    /*-fx-border-width: 0 5 0 0; !* top right bottom left *!*/
    /*-fx-border-color: #ffff;*/
    -fx-background-color: #1a1c20;
}

#menu1{
    -fx-background-color: transparent;
    -fx-text-fill: #ffff;
    -fx-font-size: 13;
}

#menu1:pressed{
    -fx-background-color:  #222A31;
}

#menu2{
    -fx-background-color: transparent;
    -fx-text-fill: #ff0000;
    -fx-font-size: 13;

}

#menu2:pressed{
    -fx-background-color:  #222A31;
}

/*.table-view {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-table-menu-button-visible: false;*/
/*    -fx-text-fill: #ffff;*/
/*}*/

/*.table-cell {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-text-fill: #ffff;*/

/*}*/

/*.table-row-cell {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-text-fill: #ffff;*/

/*}*/

/*!* Remove headers from TableView *!*/

/*.table-view .column-header-background {*/
/*    -fx-background-color: transparent;*/
/*    -fx-text-fill: #ffff;*/

/*}*/

/*.table-view .column-header-background .filler{*/
/*    -fx-background-color: transparent;*/

/*}*/

/*.table-view .column-header {*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-text-fill: #ffff;*/

/*}*/
